asgiref==3.2.7
astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
closure==20191111
colorama==0.4.3
compress==0.0.2
Django==3.0.12
django-cors-headers==3.2.1
django-filter==2.2.0
django-jquery==3.1.0
django-materialize==1.0.1a2
django-materializecss-form==1.1.17
djangorestframework==3.11.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
mysqlclient==1.4.6
pycodestyle==2.5.0
pylint==2.4.4
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
wrapt==1.11.2
