<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

    {% block loads %}
    {% load static %}
    {% endblock %}

    {% block materialize_stylesheets %}
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}"
          media="screen,projection"/>
    {% endblock %}
</head>
<body>
<nav class="nav-extended">
    <nav class="nav-wrapper">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Online Floor Pass</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>{{ guard_id }}</li>
                <li><a href="{% url 'floorpass:index' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</nav>
<div class="row">
    <div class="col s12">
        <div class="col s10">
            <form action="{% url 'floorpass:log_add' %}" method="post">
                {% csrf_token %}
                <div class="input-field col s3">
                    <input value="" name="ref_id" id="ref_id" type="text" class="validate">
                    <label class="active" for="ref_id">Reference ID</label>
                </div>
                <!--            <div class="input-field col s2">-->
                <!--                <button class="btn waves-effect waves-light" type="submit" name="action">Log</button>-->
                <!--            </div>-->
            </form>
        </div>
        <div class="card-panel">
            {% if latest_floorpass_list %}
            <table class="highlight">
                <tr>
                    <th>ID</th>
                    <th>Employee Names</th>
                    <th>Supervisor</th>
                    <th>Time Departed</th>
                    <th>Time Arrived</th>
                    <th>Time Elapse</th>
                    <th>Purpose</th>
                </tr>
                {% for floorpass in latest_floorpass_list %}
                <tr>
                    <td>{{ floorpass.id }}</td>
                    <td>
                        {% for user in floorpass.user_set.all %}
                        {{ user.employee_name }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ floorpass.supervisor }}</td>
                    <td>{{ floorpass.timein }}</td>
                    <td>{{ floorpass.timeout }}</td>
                    <td>{{ floorpass.time_elapse }}</td>
                    <td>{{ floorpass.purpose }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
{% block materialize_javascripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
{% endblock %}
</body>
</html>